<!-- Fazer a rota consoles e uma console list que tenha nome, preço e país -->
{%extends 'base.html'%}

{%block content%}
    <h2>Página dos consoles!</h2>
    <hr>
    <form action="{{url_for('consoles')}}" method="POST">
        <label for="">Nome do console:</label>
        <input type="text" name="nomeConsole" required> <br>
        <label for="">Preço do console:</label>
        <input type="text" name="precoConsole" required> <br>
        <label for="">País origem do console:</label>
        <input type="text" name="paisConsole" required> <br>
        <input type="submit" value="cadastrar">
    </form>
    <hr>
    <h4>Consoles cadastrados: </h4>
    {%for console in consolelist%}
    Nome: <strong>{{console.Nome}}</strong><br>
    Preço: <strong>{{console.Preço}}</strong><br>
    País: <strong>{{console.País}}</strong><br><br><hr>
    {%endfor%}
    <a href="/">Voltar para página principal</a>
    {%endblock content%}
