{% extends 'base.html' %}
{% block content %}

<!-- Puxando as FLASH MESSAGES -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="alert alert-{{category}}">{{message}}</div>
    {% endfor %}
{% endwith %}

<div class="container">
    <div class="card mt-4">
        <div class="card-body m-auto">
            <form action="{{url_for('login')}}" method="POST">
                <label>Email:</label>
                <input type="email" name="email" class="form-control mb-2" placeholder="email@exemplo.com" required>
                <label>Senha:</label>
                <input type="password" name="senha" class="form-control mb-2" placeholder="Insira sua senha..." required>
                <button type="submit" class="btn btn-danger btn-block w-100">Entrar</button>
            </form>
            <hr>
            <h6>Não possui conta? <a href="{{url_for('caduser')}}">Cadastre-se!</a></h6>
        </div>
    </div>
</div>
{% endblock content %}