{% extends 'base.html' %}
{% block content %}

<!-- Puxando a mensagem flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
  {% endfor %}
{% endwith %}

<div class="container">
    <div class="card-mt-4">
        <div class="card-header">
            <h2>Login de Usuário</h2>
        </div>
        <div class="card-body">
               <form action="{{url_for('cadUser')}}" method="POST">
                <label>Nome</label>
                <input type="text" class="form-control mb-2" name="nome" placeholder="Digite seu nome" required>
                <label>Email:</label>
                <input type="email" class="form-control mb-2" name="email" placeholder="Digite seu email" required>
                <label>Senha:</label>
                <input type="password" class="form-control mb-2" name="senha" placeholder="Digite sua senha" required>
                <button class="btn btn-danger btn-block" type="submit">Entrar</button>
               </form>
               <hr>
               <h6>Já possui conta? <a href="{{url_for('login')}}">Faça o login</a></h6>
            </div>
                </div>
</div>


{% endblock content%}

