{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="card-mt-4">
        <div class="card-header">
            <h2>Cadastro de Usuário</h2>
        </div>
        <div class="card-body">
               <form action="">
                <label>Email:</label>
                <input type="email" class="form-control mb-2" name="email" placeholder="Digite seu email" required>
                <label>Senha:</label>
                <input type="password" class="form-control mb-2" name="senha" placeholder="Digite sua senha" required>
                <button class="btn btn-danger btn-block" type="submit">Entrar</button>
               </form>
               <hr>
               <h6>Não possui conta? <a href="{{url_for('cadUser')}}">Cadastre-se</a></h6>
            </div>
                </div>
</div>


{% endblock content%}

