<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de ONGs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <div class="container">
    <h2>Organizações Não Governamentais</h2>
    
    <ul class="ong-list">
      {% for ong in previews %}
        <li class="ong-item">
          <div class="ong-nome">{{ ong.nome }}</div>
          <div class="ong-localizacao">{{ ong.numOng }}, {{ ong.email }}</div>
          <a href="{{ url_for('ong_detail', id=ong.id) }}" class="ong-link">Ver detalhes</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
